<form style="margin-top:50px ;">
      <table method="GET" align="center" >
       
       
        <h1 align="center">Kişisel Bilgi Formu</h1>
        <hr>
        <label for="Ad"></label>
        Adınız:<input required type="text" id="Ad">
        <br></br> 
        
        <label for="Soyad"></label>
        Soyad:<input type="text" id="Soyad">
        <br></br>
        <label for="Şifre"></label>
        Şifre:<input type="password" id="Şifre">
          <br></br>
        <label for="E-posta"></label>
        E-posta:<input type="email" id="E-posta">
          <br></br>
        Telefon Numarası:<label for="TelNo"></label>
        <input type="number"></input>
          <br></br>
        <label for=" ilçe">doğum  yeri:</label>
        <input list="ilçe">

  <br></br>
          <select class="form-control" aria-label="Default select example">
    <option selected>Olduğunuz Şehiri Seçin</option>
    <option value="istanbul">İstanbul</option>
    <option value="ankara">Ankara</option>
    <option value="izmir">Yozgat</option>
     <option value="izmir">İzmir</option>
      <option value="izmir">Balıkesir</option>
       <option value="izmir">Gaziantep</option>
         <br></br>
        <label for="Dtarih">Doğum Tarihi:</label>
        <input type="date" id="Dtarih" name="Dtarih">
          <br></br>
        <label for="Dil">Bildiğiniz Diller:</label>
          <br></br>
        <input type="checkbox">
        Türkçe
        <br></br>
        <input type="checkbox">
       İngilicce
          <br></br>
        <input type="checkbox">
        İtalyanca
          <br></br>
          <input type="checkbox">
        Alımanca
          <br></br>
        <label for="Cins">Cinsiyet:</label>
        <input type="radio" id="Cins" name="Cins">Erkek
        <label for="Cins"></label>
        <input type="radio" id="Cins" name="Cins" >Kadın
          <br></br>
        <label for="OP">Orta Öğretim Puanı:</label>
        <input type="number" id="OP" name="OP" max="100" min="1">
          <br></br>
        <input type="file" id="VF" name="VF" value="Dosya Seç">
          <br></br>
        <label for="WEBS">Web Sitesi:</label>
        <input type="url" id="WEBS" name="WEBS">
          <br></br>
        <label for="ozgecmis">Özgeçmiş:</label>
        <textarea id="ozgecmiş" maxlength="400"></textarea>
          <br></br>
        <label for="Gönder"></label>
        <input type="submit" id="Gönder" name="Gönder">
        

        
    
   
   

</form> 